.btn-yellow {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 35px;
  background-color: #FDA200;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: .2s;
}

.btn-yellow:hover {
  background-color: #F49820;
}

.btn-light {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 35px;
  background-color: #E8EAEE;
  color: #3E4240;
  border-radius: 10px;
  text-decoration: none;
  transition: .2s ease;
}

.btn-light:hover {
  background-color: #E0DFE2;
}
